body{
	font-family: 'Roboto Flex', sans-serif;

}
.btnclima {
	background-color: #ffad12 !important;
	width: 100%;
	font-size: 16px !important;
	font-weight: 700 !important;
}
.contclima {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffad12;
	color: rgb(4, 4, 4);
	padding: 0 !important;
	margin: 0 !important;
	width: 100% !important;
}
.titclima {
	font-size: 16px;
	font-weight: 800;
	background-color: #ffad12;
	color: rgb(4, 4, 4);
	margin: 0 !important;
	padding: 10px;
	text-align: center;
}
.titleclima {
	font-size: 12px;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: rgb(6, 6, 6);
	margin-bottom: 0;
}
.subtitleclima {
	font-size: 10px;
	text-align: center;
	color: rgb(5, 5, 5);
	margin: 3px;
}
.icoclima {
	text-align: center;
}
.image-clima {
	filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(180deg);
	color: rgb(207, 207, 207) !important;
}
.contSMT {
	width: 33%;
}
@media (min-width: 679px) {
	.subtitleclima {
		font-size: 16px;
	}
	.titleclima {
		font-size: 16px;
	}
	.titclima {
		font-size: 20px;
	}
	.btnclima{
		font-size: 20px!important;
	}
}
