.login {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 12, 7, 0.5)),
		url(/risen-wang-20jX9b35r_M-unsplash.jpg);
	background-size: cover;
	object-fit: cover;
	background-position: center;
	height: 500px;
}
.titulolog {
	text-align: center;
	font-size: 3vw;
	margin: 3vw;
	color: rgb(252, 251, 251);
	font-weight: 700;
	text-shadow: 4px 4px 2px rgba(4, 4, 4, 0.6);

}
.logform {
	display: flex !important;
	flex-direction: column;
	justify-content: center !important;
	align-self: center;
	align-content: center;
	align-items: center;
	width: auto;
	border-radius: 5px;
	background-color:#ffad12!important ;
	border: 0.4vw outset rgb(242, 241, 240);
	opacity: 0.85;
	margin: 5vw;
}
.labellog {
	font-weight: 700;
	text-align: center;
	width: 100%;
	background-color: #ffad12 !important;
	color: rgb(7, 7, 7);
	font-size: 100%;
	margin-bottom: 0px!important;
	text-shadow: 4px 4px 2px rgba(250, 249, 249, 0.6);
}
.inputlog {
	align-items: center;
	font-size: 100%;
	align-self: center;
	width: 95%;
	margin-bottom: 20px;
	border-radius: 5px;
	outline-color: rgb(143, 142, 139);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.inputlogpass {
	align-items: center;
	font-size: 100%;
	align-self: center;
	width: 70%;
	margin: 5px;
	border-radius: 5px;
	outline-color: rgb(143, 142, 139);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.btncontrasena{
	background-color: transparent;
	border:none;
	width: 10%;
}
.botoneslogin {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.input-submitlog {
	color: #f5f0f0;
	background: linear-gradient(rgba(390, 5, 5, 1), rgba(83, 4, 4, 1));
	border: 0.5vw outset rgb(143, 142, 139) !important;
	border-radius: 25px;
	font-size: 20px;
	font-weight: 700;
	padding: 4px;
	padding-left: 35px;
	padding-right: 35px;
	margin-top: 15px;
	cursor: pointer;
	text-decoration: none;
}
.input-submitlog:hover {
	opacity: 0.8;
	color: white;
	background-color: transparent;
}
.error-message{
	color:  rgb(237, 8, 8) !important;
	text-align: center;
	font-size: 14px; 
	margin-bottom: 5px!important; 
	font-weight: 700;
	text-shadow: 4px 4px 2px rgba(250, 248, 248, 0.6);

}
.parrafolog {
	font-size: 80%;
	color: rgb(5, 5, 5);
	margin-top: 15px;
	font-weight: 700;
}

.parrafolog a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
}
.parrafolog a:hover {
	opacity: 0.8;
	color:black;
	background-color: transparent;
}
.swal2-html-container {
	font-family: 'Poppins', sans-serif !important;
	font-size: 100% !important;
	color: rgb(207, 207, 207) !important;
}
.swal2-styled.swal2-confirm {
	font-size: 100% !important;
}
.swal2-styled.swal2-cancel {
	font-size: 100% !important;
}
.swal2-title {
	font-size: 120% !important;
}
