.about{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(100deg, rgba(255,255, 240, 0.02), rgba(0, 0, 0, 1)),
    url(/risen-wang-20jX9b35r_M-unsplash.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
}
.tituloabout{
	color:#ffad12;
    font-size: 24px;
    margin-top: 10vw;
    padding: 10px;
    font-weight: 800;
    text-shadow: 4px 4px 4px rgba(4, 4, 4, 0.6);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.subtituloabout {
	color:rgb(248, 244, 244);
    font-size: 20px;
    margin-top: 5vw;
    margin-bottom: 1vw;
    font-weight: 700;
}
.parrafoabout{
    font-size: 16px;
    color:rgb(207,207,207);
    font-weight: 600;
    text-align: justify;
    margin-left: 12vw;
    margin-top: 3vw;
    margin-right: 12vw;
}
.cardabout{
    color:rgb(207,207,207);
    border: 0.3vw outset #ffad12;
    text-align: center;
    margin-right:  10vw;
    padding-top:4vw;
    margin-left: 10vw;
    margin-bottom:4vw;
}
.cardtitleabout{
    color:#ff3333!important;
    font-size: 150%!important;
    font-weight: 700!important;
    margin-top: 4vw!important;
    margin-bottom: 2vw!important;
}
.contcard{
    color:rgb(207,207,207)!important;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10vw;
    margin-right:10vw;
    padding-bottom: 2vw;
}
.team{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.tituloaboutteam{
    color: #ffad12;
    font-size: 24px;
    margin-top: 4vw;
    margin-bottom:4vw ;
    font-weight: 700;
    width: 100%;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(4, 4, 4, 0.6);
	
}

.team-image {
    position: relative;
    text-align: center;
    align-content: center;
}
.titlenosotros {
    font-size: 18px;
    color: rgb(207,207,207);
    text-align: center;
}

.cardnosotros{
    margin-left:2vw;
    width: 45%;
    height: 230px! important;
    align-content: center;
    border: 0.2vw outset rgb(143, 142, 139);
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.5vw;
    color: rgb(207,207,207);
    line-height: 30px;
    padding: 30px 30px;
    opacity: 0;
    background-color:  rgb(143, 142, 139);
    transition: all 0.5s ease 0s;
}
.our-team:hover .description {
    opacity: 0.7;
}

.imgteam{
    width: 113px!important;
    max-width: 113px ;
    max-height: 113px;
}
.our-team .title {
    font-size: 150%;
    color:  rgb(207,207,207);
    letter-spacing: 4px;
    margin: 0 0 15px 0;
    transition: all 0.5s ease 0s;
    text-align: center;
    font-weight: 700;
}
.our-team .post {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color:  #ff3333;
    text-transform: capitalize;
    text-align: center;
}
.our-team .title:hover,
.our-team .post:hover {
    color:  rgb(143, 142, 139);
}