.btneditgestion {
	color: #f1efef;
	background: linear-gradient(rgba(390, 5, 5, 1), rgba(83, 4, 4, 1));
	border: 0.5vw outset rgb(143, 142, 139) !important;
	border-radius: 15px;
	font-size: 20px;
	font-weight: 700;
	padding: 7px;
	padding-left: 45px;
	padding-right: 45px;
	cursor: pointer;
}
.botonmp {
	background-color: rgb(12, 199, 251);
	border: 0.2vw outset rgb(4, 45, 89) !important;
	color: white;
	width: auto;
	align-self: center;
	padding: 8px;
	font-weight: 700;
	text-decoration: none !important;
}
.botonmp:hover {
	opacity: 0.8;
	background-color: rgb(4, 75, 105);
}


