.css-wsew38 {
	background-color: rgb(12, 12, 12);
	color: rgb(248, 246, 246) !important;
}
.css-hsi95o-MuiTableRow-root td {
	background-color: rgb(12, 12, 12);
	color: rgb(248, 246, 246) !important;
}
.css-1llu0od {
	background-color: rgb(12, 12, 12);
	color: rgb(248, 246, 246);
}
.css-apge8j-MuiTableRow-root {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246);
}
.css-6pocm5-MuiTypography-root {
	background-color: rgb(12, 12, 12);
	color: rgb(248, 246, 246) !important;
}
.css-1auyjxw-MuiTypography-root {
	color: #f6f5f5 !important;
}
.css-1lxvlui-MuiTableBody-root {
	background-color: rgb(12, 12, 12);
	color: rgb(248, 246, 246) !important;
}
.css-iudz2w-MuiTable-root {
	background-color: rgb(12, 12, 12);
	color: rgb(248, 246, 246) !important;
}
.css-nhjqqh-MuiTableContainer-root {
	background-color: rgb(12, 12, 12);
	color: rgb(248, 246, 246) !important;
}
.css-1atu56z-MuiPaper-root {
	background-color: rgb(12, 12, 12);
	color: rgb(248, 246, 246) !important;
}
.css-iudz2w-MuiTable-root {
	background-color: rgb(12, 12, 12);
	color: rgb(248, 246, 246) !important;
}
.css-118e0ip-MuiTableHead-root {
	background-color: rgb(12, 12, 12);
	color: rgb(248, 246, 246) !important;
}
.css-apge8j-MuiTableRow-root {
	background-color: rgb(12, 12, 12);
	color: rgb(248, 246, 246) !important;
}
.css-y1oenf-MuiTableCell-root {
	background-color: rgb(12, 12, 12);
	color: rgb(248, 246, 246) !important;
}
.css-zrlv9q {
	background-color: rgb(12, 12, 12);
	color: rgb(248, 246, 246) !important;
}
.css-10gei56 {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246) !important;
}
.css-qnbsah-MuiTableRow-root {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246) !important;
}
.css-z5kguv-MuiTableCell-root {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246) !important;
}
.css-1atu56z-MuiPaper-root {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246) !important;
}
.css-i4bv87-MuiSvgIcon-root {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246) !important;
}
.css-m57fak-MuiTableCell-root {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246) !important;
}
.css-g01hi8-MuiTableCell-root {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246) !important;
}
.css-c3gv53-MuiTableCell-root {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246) !important;
}
.css-1x0rpxq-MuiTableCell-root {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246) !important;
}
.css-13ufsr8-MuiTableCell-root {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246) !important;
}
.css-1r34777-MuiTableCell-root {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246) !important;
}
.css-lapokc {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246) !important;
}
.css-vwljmp-MuiTypography-root {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246) !important;
}
.css-uqq6zz-MuiFormLabel-root-MuiInputLabel-root {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246) !important;
}
.css-1dmqq7i-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246) !important;
}
.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
.css-wjh20t-MuiPagination-ul {
	background-color: rgb(130, 127, 127) !important;
	color: rgb(248, 246, 246) !important;
}
.css-r93niq-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
	background-color: rgb(12, 12, 12) !important;
	color: rgb(248, 246, 246) !important;
}
.css-4jnixx-MuiStack-root {
	color: #f6f5f5 !important;
	border-color: #f6f5f5 !important;
}
.css-4jnixx-MuiStack-root > .MuiTextField-root {
	color: #f6f5f5 !important;
	border-color: #f6f5f5 !important;
}
.css-1hyopzs-MuiTableRow-root {
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
.css-29nbga-MuiTableBody-root {
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
.css-1hyopzs-MuiTableRow-root td {
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
.css-l2b16m {
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
.css-l2b16m {
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
.css-49gt98 {
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
.css-36ddqm {
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
.css-1dor2ea {
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
.css-gp6a10 {
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
.css-1gg24cf {
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
.css-qk950d {
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
.css-1l2y7wk {
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
.css-1r573v {
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
.css-emy9t9 {
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
.css-2e8asg {
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
.css-1u22994{
	background-color: rgb(12, 12, 12) !important;
	color: #f6f5f5 !important;
}
